## for_loops: basically used to iterate through the items in a given list. In python, iteration can be done over python data types such as lists, strings, tuples and dictionary (later 2 not included in this part)

In [3]:
students = ["Adam", "George", "Pedro"]
for elements in students:
    print (elements)

Adam
George
Pedro

In the example above, it could be cumbersome to type print statement with each of the elements in the given list. Using for loop to iterate creates a short and much more readable code. NOTE that the code block basically is following this pattern: "for elements in list:
                command to perform something"

In [4]:
score = [99, 100, 98, 60]
for nums in score:
    print (nums)

99
100
98
60

In [6]:
score_sum = 0 #Lets create a new variable to tally the total score and initialize it to 0

for nums in score:
    score_sum = score_sum + nums  #the total score is the sum of each individual score

print (score_sum)  #print the final score

99
199
297
357

In [16]:
n = 5
for i in range(0,n): #range function gives us a range of numbers between two selected numbers
    print (i)

0
1
2
3
4

In [10]:
## Let's us create a new variable which gives us a range of first five even numbers
nos = list(range(0,10,2)) ##range function in python here gives us a range of number starting at 0 and ending at 10, 
                        ## while increasing by 2 in every step
print(nos)

[0, 2, 4, 6, 8]

In [15]:
## Let's find the sum of the first 5 even numbers from above [0 + 2 + 4 + 6 + 8 = 20]
sum = 0
for i in nos: # from above 
    sum = sum + i
print (sum)

20

In [17]:
# for with strings
car = "Honda"
for letter in car:
    print(letter)

H
o
n
d
a

## Now, try to find the sum of first 5 odd numbers using for loop. Remember, there will be more than one way to do this. Good luck :)