## I am attempting to mention few points about python data types - esp., lists, tuples and sets

## Lists -  Python lists are basically ordered sequences of values wihtin [  ].

In [6]:

cars = ['Honda', 'Ford', 'Mitsubishi', 'Nissan'] #list of cars within variable "cars" separated by comma .

In [7]:
print (cars) # print the values

['Honda', 'Ford', 'Mitsubishi', 'Nissan']

In [8]:
cars [0]  #You can access individual values wihtin the list by providing the index (location) of those values within
          # the list

'Honda'

### python lists are 0-indexed, meaning the first index is 0, not 1 as expected

In [9]:
cars [2]

'Mitsubishi'

In [10]:
# You can also choose more than one values by providing a range of indices. For example; 
print (cars[1:3]) #this range prints n to n-1 values as specified.

['Ford', 'Mitsubishi']

### lists are mutable. This is very important attribute of python lists. It allows us to alter the values within the list

In [12]:
# For instance, you want to change 'Ford' for 'Peugeot'. There are defintely much more applicable usage of 
# mutable python lists. 

cars [1] = 'Peugeot'
print (cars)

['Honda', 'Peugeot', 'Mitsubishi', 'Nissan']

In [13]:
cars [2:3] = ['Toyota', 'Hyundai']
print (cars)

['Honda', 'Peugeot', 'Toyota', 'Hyundai', 'Nissan']

## Tuples - Python tuples are ordered sequences of values (like lists) witihin ()

In [25]:
cars_1 = ('Honda', 'Ford', 'Mitsubishi', 'Nissan') # values within variable cars_1

In [22]:
print (cars_1)

('Honda', 'Ford', 'Mitsubishi', 'Nissan')

In [23]:
cars_1 [0] #You can call tuple objects same as the lists

'Honda'

### tuples are immutable. You are better off using tuple when the values within does/should not change

In [24]:
cars_1 [1] = 'Peugeot'
print (cars)

TypeError: 'tuple' object does not support item assignment

## Sets - Python sets are basically collection of unique (non-duplicate) unordered values within {}

In [30]:
cars_2 = {'Honda', 'Ford', 'Mitsubishi', 'Nissan'} # values within variable cars_2

In [31]:
print (cars_2)

{'Mitsubishi', 'Honda', 'Ford', 'Nissan'}

### In the above cell, see how the print gives out different order of the values

In [36]:
#Let's have a duplicate value --'Ford'
cars_2 = {'Honda', 'Ford', 'Mitsubishi', 'Nissan', 'Ford'}

In [37]:
print (cars_2) # you will see that it will get rid of the duplicate value

{'Mitsubishi', 'Honda', 'Ford', 'Nissan'}